Repository doradsoft/html-flip-book: changes, and which Codecov flags are due for each by the changed paths.
All: base, react

e2e: stabilize tests for sidebar example app (comprehensive only, no shadow)
  e2e/direction.spec.ts
  e2e/download-range.spec.ts
  e2e/download.spec.ts
  e2e/first-flip.spec.ts
  e2e/fixtures/flip-book-page.ts
  e2e/integration/hold-drag.spec.ts
  e2e/mocked/hold-drag.spec.ts
  e2e/mouse.spec.ts
  e2e/navigation.spec.ts
  e2e/styling.spec.ts
  e2e/touch.spec.ts
  playwright.config.ts
  react/example/src/App.tsx
Due: none

fix(e2e): EnBook test URL params + download test waits
  e2e/download.spec.ts
  react/example/src/EnBook.tsx
Due: none

fix(e2e): assert download menu by label text, not menuitem name
  e2e/download.spec.ts
Due: none

fix(e2e): exclude no-drop + forward from mocked hold-drag randomized tests
  e2e/fixtures/test-cases.ts
Due: none

fix(react): guard requestAnimationFrame in PageIndicator for test envs
  react/src/toolbar/PageIndicator.tsx
Due: react

fix(base): use scheduleFrame fallback in leaf for test envs without requestAnimationFrame
  base/src/leaf.ts
Due: base

fix(base): scheduleFrame at invoke time so test mocks apply
  base/src/leaf.ts
Due: base

fix(example): deduplicate React instances to fix blank GitHub Pages demo (#170)
  CHANGELOG.md
  base/package-lock.json
  base/package.json
  package.json
  react/example/index.html
  react/example/package-lock.json
  react/example/package.json
  react/example/vite.config.js
  react/package-lock.json
  react/package.json
Due: none

Update README to reflect completed roadmap items [skip-ci]
  README.md
Due: none

fix(react): derive initial currentPageIndex from initialTurnedLeaves
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: react

fix(base): use applyTransform for initial page positioning & fix cover sizing
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: base

feat(example): add dedicated initial-position examples for LTR and RTL
  react/example/src/App.tsx
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
Due: none

fix(base): initial page positioning, cover sizing & dedicated initial-position examples (#172)
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/src/App.tsx
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: base, react

perf(react): debounce onPageChanged for leavesBuffer during rapid flips
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: react

perf(base): GPU layer promotion during flips and CSS containment
  base/src/flipbook.ts
  base/src/leaf.ts
  base/src/pages.scss
Due: base

perf: GPU compositing, CSS containment, and initial-position fixes
  base/package-lock.json
  base/package.json
  base/src/flipbook.ts
  base/src/leaf.ts
  base/src/pages.scss
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: base, react

perf(base): snapshotDuringFlip prop + skip shadow updates when disabled
  base/package-lock.json
  base/package.json
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  base/src/leaf.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: base, react

feat(base): default snapshotDuringFlip to true, add scroll/select lockdown
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  base/src/leaf.ts
  react/example/src/App.tsx
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/src/FlipBook.tsx
Due: base, react

perf(base): bypass framework-patched pushState during flips
  base/src/__tests__/flipbook.test.ts
  base/src/__tests__/leaf.test.ts
  base/src/__tests__/test-utils.ts
  base/src/flipbook.ts
  base/src/leaf.ts
  base/src/pages.scss
  react/example/package.json
  react/example/src/App.tsx
Due: base

fix(base): resolve TOC jump using wrong page due to module-level store duplication
  base/src/commands/go-to-toc-command.ts
  base/src/commands/types.ts
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  react/src/FlipBook.tsx
  react/src/__tests__/commands.test.tsx
Due: base, react

style(react): add default padding to TocPage and remove example overrides
  react/example/src/App.css
  react/src/TocPage.css
Due: react

chore: add Cursor agent rules for CI/CD, npm scripts, and practices
  .cursor/rules/agent-practices.mdc
  .cursor/rules/ci-cd.mdc
  .cursor/rules/prefer-npm-scripts.mdc
Due: none

style(react): fix TOC button font-size and title max-width
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/TocPage.css
Due: react

chore: add Cursor agent rules for CI/CD, npm scripts, and practices (#177)
  .cursor/rules/agent-practices.mdc
  .cursor/rules/ci-cd.mdc
  .cursor/rules/prefer-npm-scripts.mdc
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/TocPage.css
Due: react

fix(e2e): stabilize z-index transition tests with incremental clock ticks
  e2e/mocked/z-index-transitions.spec.ts
Due: none

fix(e2e): mark flaky z-index mocked-clock tests as fixme
  e2e/mocked/z-index-transitions.spec.ts
Due: none

fix: download dropdown stability, RTL positioning, option readability, page filtering
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/__tests__/DownloadDropdown.test.tsx
  react/src/toolbar/DownloadDropdown.css
  react/src/toolbar/DownloadDropdown.tsx
Due: react

fix: remove incorrect row-reverse for RTL download range selector
  react/src/toolbar/DownloadDropdown.css
Due: react

fix: use .find() for semanticPages lookup in runRangeDownload
  react/src/__tests__/DownloadDropdown.test.tsx
  react/src/toolbar/DownloadDropdown.tsx
Due: react

fix: align initialTurnedLeaves calculation, export styles.css, cleanup
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
  react/src/__tests__/DownloadDropdown.test.tsx
  react/src/toolbar/DownloadDropdown.tsx
Due: base, react

Add reusable mouse text selection mode to flipbook
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flip-book-options.ts
  base/src/flipbook.scss
  base/src/flipbook.ts
  base/src/intl/locales/en-US.ts
  base/src/intl/locales/he-IL.ts
  e2e/mouse-mode.spec.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
  react/src/__tests__/toolbar.test.tsx
  react/src/toolbar/MouseModeButton.tsx
  react/src/toolbar/Toolbar.css
  react/src/toolbar/Toolbar.tsx
  react/src/toolbar/ToolbarButton.tsx
  react/src/toolbar/ToolbarContext.tsx
  react/src/toolbar/index.ts
Due: base, react

Bundle mouse selection styles for React consumers
  base/src/flipbook.scss
  base/src/flipbook.ts
  base/src/mouse-mode.scss
  e2e/mouse-mode.spec.ts
  react/src/FlipBook.tsx
Due: base, react

Add reusable mouse text selection mode to flipbook (#203)
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flip-book-options.ts
  base/src/flipbook.scss
  base/src/flipbook.ts
  base/src/intl/locales/en-US.ts
  base/src/intl/locales/he-IL.ts
  base/src/mouse-mode.scss
  e2e/mouse-mode.spec.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
  react/src/__tests__/toolbar.test.tsx
  react/src/toolbar/MouseModeButton.tsx
  react/src/toolbar/Toolbar.css
  react/src/toolbar/Toolbar.tsx
  react/src/toolbar/ToolbarButton.tsx
  react/src/toolbar/ToolbarContext.tsx
  react/src/toolbar/index.ts
Due: base, react

Use supplied caret image for mouse selection button
  base/package-lock.json
  base/package.json
  e2e/mouse-mode.spec.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/toolbar/Toolbar.css
  react/src/toolbar/text-caret.png
Due: react

Use supplied caret image for mouse selection button (#204)
  base/package-lock.json
  base/package.json
  e2e/mouse-mode.spec.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/toolbar/Toolbar.css
  react/src/toolbar/text-caret.png
Due: react

Add native TOC links to flipbook entries
  base/package-lock.json
  base/package.json
  e2e/toc-links.spec.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/package-lock.json
  react/package.json
  react/src/TocPage.css
  react/src/TocPage.tsx
  react/src/__tests__/TocPage.test.tsx
Due: react

Add native TOC links to flipbook entries (#205)
  base/package-lock.json
  base/package.json
  e2e/toc-links.spec.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/package-lock.json
  react/package.json
  react/src/TocPage.css
  react/src/TocPage.tsx
  react/src/__tests__/TocPage.test.tsx
Due: react

Preserve SPA state when syncing flipbook history
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: base

Preserve SPA state when syncing flipbook history (#206)
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: base

Keep flipbook Back navigation within the mounted book
  CHANGELOG.md
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: base

Path conditions:
  base: any of: base/src/
  react: any of: react/src/
