Repository doradsoft/html-flip-book: changes, and which Codecov flags are due for each by the changed paths.
All: base, react

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 5%
      base:
        target: 75%
        threshold: 5%
        flags:
          - base
      react:
        target: 9%
        threshold: 5%
        flags:
          - react
    patch:
      default:
        target: 65%
        threshold: 5%

comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

flags:
  base:
    paths:
      - base/src/
  react:
    paths:
      - react/src/

feat: add Codacy integration and improve coverage thresholds (#149)
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  base/package-lock.json
  base/package.json
  codecov.yml
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none

fix(e2e): remove flaky fast swipe test (covered in mocked tests)
  CHANGELOG.md
  e2e/first-flip.spec.ts
Due: none

fix(e2e): remove flaky fast swipe test (covered in mocked tests) (#150)
  CHANGELOG.md
  e2e/first-flip.spec.ts
Due: none

docs: add TypeDoc with Read the Docs integration
  .gitignore
  .readthedocs.yaml
  README.md
  base/package-lock.json
  base/package.json
  docs/guides/contributing.md
  docs/guides/examples.md
  docs/guides/getting-started.md
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  typedoc.json
Due: none

docs: add TypeDoc with Read the Docs integration (#151)
  .gitignore
  .readthedocs.yaml
  README.md
  base/package-lock.json
  base/package.json
  docs/guides/contributing.md
  docs/guides/examples.md
  docs/guides/getting-started.md
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  typedoc.json
Due: none

docs: improve JSDoc for TypeDoc generation
  .gitignore
  README.md
  base/package-lock.json
  base/package.json
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: base, react

chore: release v0.0.0-alpha.19 - fix react package types path
  CHANGELOG.md
  base/package.json
  package.json
  react/example/package.json
  react/package.json
Due: none

feat: buffer, no-flip zone, onPageChanged on turn, stable page keys (v0.0.0-alpha.20)
  base/package.json
  base/src/flipbook.ts
  base/src/page-semantics.ts
  package.json
  react/example/package.json
  react/package.json
  react/src/FlipBook.tsx
  react/src/TocPage.css
  react/src/TocPage.tsx
  react/src/toolbar/FirstPageButton.tsx
  react/src/toolbar/LastPageButton.tsx
  react/src/toolbar/SemanticPageIndicator.tsx
  react/src/toolbar/Toolbar.css
  react/src/toolbar/Toolbar.tsx
  react/src/toolbar/ToolbarContext.tsx
  react/src/toolbar/index.ts
Due: base, react

test(react): stabilize unmount-during-flip for Strict Mode double-mount
  react/src/__tests__/unmount-during-flip.test.tsx
Due: react

fix: make default command execute handlers return boolean | undefined
  react/src/commands/defaultCommands.ts
Due: react

fix(e2e): restore HeBook className and test params for E2E compatibility
  react/example/src/HeBook.tsx
Due: none

fix(e2e): advance clock during fast-swipe mouse moves in velocity tests
  e2e/mocked/velocity-threshold.spec.ts
Due: none

fix(e2e): stabilize velocity threshold tests with proper clock/event timing
  e2e/mocked/velocity-threshold.spec.ts
Due: none

fix(e2e): add double clock pass for velocity tests with pending animations
  e2e/mocked/velocity-threshold.spec.ts
Due: none

fix(e2e): freeze clock with pauseAt for deterministic velocity tests
  e2e/mocked/velocity-threshold.spec.ts
Due: none

fix: correct RTL chevron icons and prevent stale page indicator flash
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/toolbar/NextButton.tsx
  react/src/toolbar/PageIndicator.tsx
  react/src/toolbar/PrevButton.tsx
Due: react

fix: correct jumpToPage off-by-one for odd page indices
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package.json
  react/example/package.json
  react/package.json
  react/src/__tests__/PageIndicator.test.tsx
  react/src/toolbar/PageIndicator.tsx
Due: base, react

chore: release v0.0.0-alpha.24
  CHANGELOG.md
  base/package.json
  base/src/flipbook.scss
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/public/fonts/README.md
  react/example/src/App.css
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/example/src/pdfExport.ts
  react/example/src/pdfHebrewFont.ts
  react/package.json
  react/src/FlipBook.tsx
  react/src/__tests__/PageIndicator.test.tsx
  react/src/__tests__/commands.test.tsx
  react/src/__tests__/toolbar.test.tsx
  react/src/commands/defaultCommands.ts
  react/src/download/types.ts
  react/src/i18n.ts
  react/src/icons/index.tsx
  react/src/toolbar/DownloadDropdown.css
  react/src/toolbar/DownloadDropdown.tsx
  react/src/toolbar/FirstPageButton.tsx
  react/src/toolbar/LastPageButton.tsx
  react/src/toolbar/NextButton.tsx
  react/src/toolbar/PageIndicator.tsx
  react/src/toolbar/PrevButton.tsx
  react/src/toolbar/TocButton.tsx
  react/src/toolbar/Toolbar.css
  react/src/toolbar/Toolbar.tsx
  react/src/toolbar/ToolbarContext.tsx
  react/src/toolbar/index.ts
  scripts/release.mts
Due: base, react

feat: add i18n, realistic cover frame, RTL toolbar, debug toggle
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flip-book-options.ts
  base/src/flipbook.scss
  base/src/flipbook.ts
  base/src/intl/index.ts
  base/src/intl/locales/en-US.ts
  base/src/intl/locales/he-IL.ts
  base/src/intl/types.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/src/App.css
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/example/tsconfig.json
  react/example/vite.config.js
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
  react/src/__tests__/PageIndicator.test.tsx
  react/src/__tests__/commands.test.tsx
  react/src/__tests__/toolbar.test.tsx
  react/src/commands/CommandContext.tsx
  react/src/commands/defaultCommands.ts
  react/src/i18n.ts
  react/src/toolbar/DownloadDropdown.tsx
  react/src/toolbar/FirstPageButton.tsx
  react/src/toolbar/LastPageButton.tsx
  react/src/toolbar/NextButton.tsx
  react/src/toolbar/PrevButton.tsx
  react/src/toolbar/TocButton.tsx
  react/src/toolbar/Toolbar.css
  react/src/toolbar/Toolbar.tsx
  react/src/toolbar/ToolbarContext.tsx
  react/tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: base, react

refactor: use actual cover pages as book boards instead of synthetic frame
  base/src/flipbook.scss
  base/src/flipbook.ts
  react/example/src/App.css
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/src/FlipBook.tsx
Due: base, react

fix: add opaque white background to .page to prevent bleed-through
  base/src/pages.scss
Due: base

fix: size cover interior pages to leafSize instead of coverSize
  base/src/flipbook.ts
Due: base

fix(example): add blank page before back cover in Hebrew book
  react/example/src/HeBook.tsx
Due: none

fix(e2e): scroll HE book into view on mobile before mouse interactions
  e2e/direction.spec.ts
  e2e/first-flip.spec.ts
Due: none

chore: commit before refactor (move non-React code to base)
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/src/FlipBook.tsx
Due: base, react

feat: PageFlipParams for onPageFlipping/onPageFlipped (leafIndex, pageIndices, semantics, direction)
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  react/src/FlipBook.tsx
Due: base, react

fix(example): serve PDF assets as raw binary in Vite dev server
  e2e/download-range.spec.ts
  package-lock.json
  package.json
  react/example/vite.config.js
  react/src/__tests__/pdfMerge.test.ts
Due: react

refactor: flatten FlipBookHandle, simplify command architecture, add PDF merge for EN range download
  .gitattributes
  base/package-lock.json
  base/src/commands/flip-next-command.ts
  base/src/commands/flip-prev-command.ts
  base/src/commands/go-to-first-command.ts
  base/src/commands/go-to-last-command.ts
  base/src/commands/go-to-toc-command.ts
  base/src/commands/index.ts
  base/src/commands/toggle-debug-command.ts
  base/src/commands/types.ts
  biome.json
  docs/architecture.md
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/example/src/pdfMerge.ts
  react/src/FlipBook.tsx
  react/src/TocPage.tsx
  react/src/__tests__/PageIndicator.test.tsx
  react/src/__tests__/commands.test.tsx
  react/src/__tests__/toolbar.test.tsx
  react/src/commands/CommandContext.tsx
  react/src/commands/index.ts
  react/src/toolbar/DownloadDropdown.tsx
  react/src/toolbar/FirstPageButton.tsx
  react/src/toolbar/LastPageButton.tsx
  react/src/toolbar/NextButton.tsx
  react/src/toolbar/PageIndicator.tsx
  react/src/toolbar/PrevButton.tsx
  react/src/toolbar/TocButton.tsx
  react/src/toolbar/Toolbar.tsx
  react/src/toolbar/index.ts
Due: base, react

feat(example): merge PDFs from inline data, no runtime fetch
  react/example/src/App.css
  react/example/src/EnBook.tsx
  react/example/src/pdfMerge.ts
  react/example/vite.config.js
  react/src/__tests__/pdfMerge.test.ts
  react/src/toolbar/DownloadDropdown.tsx
Due: react

fix(toolbar): consistent font family in download menu, use semantic names in filename
  react/example/src/App.css
  react/src/toolbar/DownloadDropdown.css
  react/src/toolbar/DownloadDropdown.tsx
Due: react

style(toolbar): set system font on toolbar root, inherit in dropdown
  react/src/toolbar/DownloadDropdown.css
  react/src/toolbar/Toolbar.css
Due: react

style(example): use Tahoma for all Hebrew example content
  react/example/src/App.css
  react/src/TocPage.css
Due: react

fix: suppress click on child elements after drag gesture
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
Due: base

fix(example): set Tahoma on he-book-container so TOC inherits it
  react/example/src/App.css
Due: none

feat: re-layout pages on container resize via ResizeObserver
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
Due: base

chore: release v0.0.0-alpha.27
  .gitignore
  CHANGELOG.md
  base/package.json
  package-lock.json
  package.json
  react/example/package.json
  react/package.json
Due: none

feat(example): sidebar nav with LTR/RTL examples; pageShadow as base option
  base/package.json
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  base/src/pages.scss
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/example/src/App.css
  react/example/src/App.tsx
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: base, react

feat(base): enableHistory/enableDownload options; example per-feature config; docs + issue #168
  base/src/flip-book-options.ts
  base/src/flipbook.ts
  react/example/src/App.tsx
  react/example/src/EnBook.tsx
  react/example/src/HeBook.tsx
  react/src/FlipBook.tsx
Due: base, react
