Repository doradsoft/html-flip-book: changes, and which Codecov flags are due for each by the changed paths.
All: base, react

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: 65%
        threshold: 5%
      base:
        target: 75%
        threshold: 5%
        flags:
          - base
      react:
        target: 9%
        threshold: 5%
        flags:
          - react
    patch:
      default:
        target: 65%
        threshold: 5%

comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]

flags:
  base:
    paths:
      - base/src/
  react:
    paths:
      - react/src/

Use a non-random history owner identifier
  base/src/flipbook.ts
Due: base

Update Codecov action for current signing key
  .github/workflows/ci.yml
Due: none

Expose history-free page restoration for external routers
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  react/src/FlipBook.tsx
Due: base, react

Reserve alpha.42 for router restoration
  CHANGELOG.md
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none

Expose history-free page restoration for external routers (#208)
  CHANGELOG.md
  base/package-lock.json
  base/package.json
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
  react/src/FlipBook.tsx
Due: base, react

Fix protected-branch prerelease version bump
  .github/workflows/auto-bump-version.yml
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none

Wait for version PR checks before merging
  .github/workflows/auto-bump-version.yml
Due: none

Fix prerelease bump after publishing (#209)
  .github/workflows/auto-bump-version.yml
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none

Prevent recursive releases in automatic version bumps
  .github/workflows/auto-bump-version.yml
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none

Wait for full bump PR CI before auto merge
  .github/workflows/auto-bump-version.yml
Due: none

Prevent recursive releases in version bumps (#210)
  .github/workflows/auto-bump-version.yml
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none

chore: prepare version 0.0.0-alpha.45 [skip ci]
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none

fix: release stale click suppression on a new gesture
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  e2e/post-swipe-click.spec.ts
Due: base

fix: release stale click suppression on a new gesture (#212)
  base/src/__tests__/flipbook.test.ts
  base/src/flipbook.ts
  e2e/post-swipe-click.spec.ts
Due: base

chore: prepare version 0.0.0-alpha.46 [skip ci]
  base/package-lock.json
  base/package.json
  package-lock.json
  package.json
  react/example/package-lock.json
  react/example/package.json
  react/package-lock.json
  react/package.json
Due: none
